<h1>Listing articles</h1>

<%=link_to 'New article', new_article_path %>

<% @articles = Article.all.order(:title)%>
<% @articles = Article.all.order(:created_at)%>
<% @articles = Article.all.reverse%>


<table>
  <tr>
    <th>Title</th>
    <!--To show evidence of the relationship between articles and user
    we can display the author of the article-->
    <th>Author</th>
    <!--Add column for the article creation time-->
    <th>Time</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><% if article.user %>
            <!--display authors name if there is one-->
            <%= article.user.name %>
          <% end %>
      </td>
      <!--Timestamp for the creation of the article-->
      <td><%= article.created_at.change(offset: "+04:00").to_s(:db)%></td>      
      
      <td><%= link_to 'Show', article_path(article) %></td>
      <% begin %>
      <% if current_user == article.user %>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', 
                                article_path(article),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <% rescue %>
      <% end %>
    </tr>
  <% end %>
</table>