<h1>Listing articles</h1>

<% begin %>
<% if current_user.name != "" %>
<%=link_to 'New article', new_article_path %>
<% end %>
<% rescue %>
<% end %>

 <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
    <%= submit_tag "Search" %>
  <% end %>

<p>Sort by:
<%= link_to "Newest", articles_path(order: 'created_at DESC') %>
<%= link_to "Oldest", articles_path(order: 'created_at ASC') %>
<%= link_to "Title", articles_path(order: 'title') %>
<%= link_to "Rating", articles_path(order: 'rating') %>

</p>




<table>
  <% @articles.each do |article| %>
    <tr>
      <td style="text-align:center">
        <p class = "rating">
          <%= article.likes.count - article.dislikes.count %>
        </p>
        <%= button_to '∧', article_likes_path(article), method: :article %>
        <%= button_to '∨', article_dislikes_path(article), method: :article %>
      </td>
      <td>
        Posted by:
        <% if article.user %>
            <!--display authors name if there is one-->
            <%= article.user.name %>
            <% else %>
            [deleted]
          <% end %>
           at 
           <!--Timestamp for the creation of the article-->
      <%= article.created_at.change(offset: "+04:00").to_s(:db)%>
      <br>
      <p class = "Title">
      <%= article.title %>
      </p>
      <%= link_to 'Show', article_path(article) %>
      <% begin %>
      <% if current_user == article.user || current_user.name == "Admin" %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', 
                                article_path(article),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% rescue %>
      <% end %>
    </tr>
  <% end %>
</table>