<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>
<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<!--Form for the comments is at app/views/comments/_form.html.erb
    Rails understands comments/form-->
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>