<h1>
    <%= @article.title %>
</h1>
<p>
    <% begin %>
    <%= "Created by: " + @article.user.name + " at " + @article.created_at.change(offset: "+04:00").to_s(:db)%>
    <% rescue %>
    <%= "Created by: [deleted] at " + @article.created_at.change(offset: "+04:00").to_s(:db)%>
    <% end %>
    <%= ", " %> <%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%>
    <%= ", " %> <%= @article.dislikes.count %> <%= (@article.dislikes.count) == 1 ? 'Dislike' : 'Dislikes'%>
</p>
<p>
    <%= simple_format(@article.text) %>
</p>
<p>
    <% begin %>
    <% if current_user == @article.user || current_user.name == "Admin" %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% rescue %>
    <% end %>
</p>
    <h3>-----------------------------------------</h3>
<%= render @article.comments %>

<% begin %>
<% if current_user.name != "" %>
<h2>Add a comment:</h2>
<!--Form for the comments is at app/views/comments/_form.html.erb
    Rails understands comments/form-->
<%= render 'comments/form' %>
<% end %>
<% rescue %>
<% end %>


<%= button_to 'Like', article_likes_path(@article), method: :article %>
<%= button_to 'Dislike', article_dislikes_path(@article), method: :article %>

<%= link_to 'Article List', articles_path %>