<h1>
    <%= @article.title %>
</h1>
<p>
    <% begin %>
    <%= "Created by: " + @article.user.name + " at " + @article.created_at.change(offset: "+04:00").to_s(:db)%>
    <% rescue %>
    <%= "Created by: [deleted] at " + @article.created_at.change(offset: "+04:00").to_s(:db)%>
    <% end %>
</p>
<p>
    <%= simple_format(@article.text) %>
</p>

<p>
    <% begin %>
    <% if current_user.name != "" %>
    <%= link_to '∧', article_likes_path(@article), method: :article %>
    <%= @article.likes.count - @article.dislikes.count %>
    <%= link_to '∨', article_dislikes_path(@article), method: :article %>
    <% end %>
    <% rescue %>
    <% end %>
    <% begin %>
    <% if current_user == @article.user || current_user.name == "Admin" %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% rescue %>
    <% end %>
</p>
    <br>
    <h3>-----------------------------------------</h3>
    <br>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<!--Form for the comments is at app/views/comments/_form.html.erb
    Rails understands comments/form-->
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>