<h1>
    <%= @article.title %>
</h1>
<p>
    <%= "Created by: " + @article.user.name + " at " + @article.created_at.to_s(:rfc822)%>
</p>
<p>
    <%= simple_format(@article.text) %>
</p>
<p>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
    <h3>-----------------------------------------</h3>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<!--Form for the comments is at app/views/comments/_form.html.erb
    Rails understands comments/form-->
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>