<h1 id = "hello">Hello
<%begin%>
 <%=current_user.name%>!
<%rescue%>
User!
<%end%>
</h1>
<p id="welcome">
    <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    <% end %>
</p>