<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="hotbar">
      <%=link_to 'My Blog', controller: 'articles' %>
      <% begin %>
      <%= link_to current_user.name, root_url %>
      <% rescue %>
      <%= link_to "Login", root_url %>
      <% end %>
      <% begin %>
      <% if current_user.name == "Admin"%>
      <%= link_to 'Back', users_path %>
      <% end %>
      <% rescue %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
